/* YOUR CUSTOM STYLES */


.span-DL1 {
    color: rgb(173,142,116);
    font-size: 1.2rem;
    font-family: 'Oranienbaum', serif;
}

.span-DL2 {
    color: rgb(173,142,116);
    font-size: 1.2rem;
    font-family: 'Oranienbaum', serif;
}

.span-DL3 {
    color: white;
    font-size: 0.8rem;
    font-family: 'Oranienbaum', serif;
}

.span-DL4 {
    color: black;
    font-size: 2rem;
    font-family: 'Oranienbaum', serif;
    text-align: center;
}

.span-DL5 {
    color: black;
    font-size: 0.8rem;
    font-family: 'Oranienbaum', serif;
    text-align: center;
    float: left;
    padding-bottom: 25%;
}

.span-DL6 {
    color: palevioletred;
    font-size: 2rem;
    font-family: 'Oranienbaum', serif;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.span-DL7 {
    color: black;
    font-size: 0.8rem;
    font-family: 'Oranienbaum', serif;
    text-align: center;
    float: inherit;
    line-height: 0.7em;
}

.span-DL8 {
    color: black;
    font-size: 0.8rem;
    font-family: 'Oranienbaum', serif;
    text-align: center;
}

.fuente-nav {
    font-family: 'Oranienbaum', serif;
    font-size: 1.2rem;
}

.navbar.navbar-dark .navbar-nav .nav-item a {
    color: black!important;
    transition: .35s;
}

.carousel indicators li indicadores{
    background-color: black;
}


div.ex-DL {
    position: absolute;
    z-index: 1;
    bottom: -1%;
    left: 3%;
    color: white;
    font-family: 'Oranienbaum', serif;
    font-size: 2.3rem;

}