/* YOUR CUSTOM STYLES */


.span-DL1 {
    color: rgb(173,142,116);
    font-size: 1.2rem;
    font-family: 'Oranienbaum', serif;
}

.span-DL2 {
    color: rgb(173,142,116);
    font-size: 1.2rem;
    font-family: 'Oranienbaum', serif;
}

.span-DL3 {
    color: white;
    font-size: 0.8rem;
    font-family: 'Oranienbaum', serif;
}

.span-DL4 {
    color: black;
    font-size: 2rem;
    font-family: 'Oranienbaum', serif;
    text-align: center;
}

.span-DL5 {
    color: black;
    font-size: 0.7rem;
    font-family: 'Oranienbaum', serif;
    float: left;
    padding-bottom: 25%;
    padding-top: 10%;
    text-transform:uppercase;
}

.span-DL6 {
    color: rgb(241,159,160);
    font-size: 2rem;
    font-family: 'Oranienbaum', serif;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.span-DL7 {
    color: black;
    font-size: 0.72rem;
    font-family: 'Oranienbaum', serif;
}

.span-DL8 {
    color: black;
    font-size: 0.8rem;
    font-family: 'Oranienbaum', serif;
    text-align: center;
}

.span-DL9 {
    color: rgb(173,142,116);
    font-size: 2rem;
    font-family: 'Oranienbaum', serif;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.span-DL10 {
    color: rgb(177,158,90);
    font-size: 2rem;
    font-family: 'Oranienbaum', serif;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.span-DL11 {
    color: rgb(141,55,68);
    font-size: 2rem;
    font-family: 'Oranienbaum', serif;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.span-DL12 {
    color: rgb(145,147,150);
    font-size: 2rem;
    font-family: 'Oranienbaum', serif;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.span-DL13 {
    color: rgb(72,171,198);
    font-size: 2rem;
    font-family: 'Oranienbaum', serif;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.span-DL14 {
    color: rgb(227,152,71);
    font-size: 2rem;
    font-family: 'Oranienbaum', serif;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.span-DL15 {
    color: rgb(65,64,66);
    font-size: 2rem;
    font-family: 'Oranienbaum', serif;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.span-DL16 {
    color: rgb(165,27,47);
    font-size: 2rem;
    font-family: 'Oranienbaum', serif;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.span-DL17 {
    color: rgb(160,131,28);
    font-size: 2rem;
    font-family: 'Oranienbaum', serif;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.span-DL18 {
    color: rgb(11,47,156);
    font-size: 2rem;
    font-family: 'Oranienbaum', serif;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.span-DL19 {
    color: black;
    font-size: 1.3rem;
    font-family: 'Oranienbaum', serif;
}

.span-DL20 {
    color: black;
    font-size: 0.9rem;
    font-family: 'Oranienbaum', serif;
}

.span-DL21 {
    color: black;
    font-size: 0.8rem;
    font-family: 'Oranienbaum', serif;
}

.span-DL22 {
    color: black;
    font-size: 1rem;
    font-family: 'Oranienbaum', serif;
    text-align: center;
}

.span-DL23 {
    color: white;
    font-size: 1rem;
    font-family: 'Oranienbaum', serif;
    text-align: center; 
}

.span-DL24 {
    color: black;
    font-size: 1rem;
    font-family: 'Oranienbaum', serif;
    text-align: center;
    background-color: black; 
}

.fuente-nav {
    font-family: 'Oranienbaum', serif;
    font-size: 1.2rem;
}


.navbar.navbar-dark .navbar-nav .nav-item a {
    color: rgb(145,147,150);
    transition: .35s;
}

.navbar.navbar-dark .breadcrumb a:hover, .navbar.navbar-dark .navbar-nav .nav-item a:hover {
    transition: .35s;
    color: rgb(173,142,116);
}

.carousel indicators li indicadores{
    background-color: black;
}


div.ex-DL {
    position: absolute;
    z-index: 1;
    bottom: -1%;
    left: 3%;
    color: white;
    font-family: 'Oranienbaum', serif;
    font-size: 2.3rem;

}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgb(145,147,150);
    border: 1px solid rgb(145,147,150);
    border-radius: 10px;
}

.carousel-indicators .active{
    background-color: rgb(173,142,116);
    border: 1px solid rgb(173,172,116);

}